@use "../base/variables";
@use "../base/mixins";

.contato {
  margin-top: 84px;
  height: 720px;
  background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, #00ffff22);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 200px 70px 200px;
  border-radius: 10px;


  &__form {
    width: 80%;

    &__title {
      color: #ffffff;
      font-size: 22px;
      margin-top: 40px;
      margin-bottom: 10px;
      margin-left: 10px;

      &--large {
        font-size: 32px;
      }
    }

    &__div {
      display: flex;
      flex-direction: column;
      width: 80%;
      margin: auto;
    }

    textarea {
      height: 100px;
      padding: 10px;
      border-radius: 10px;
      border-color: variables.$color-blue;
      margin-bottom: 30px;
      font-size: 18px;

      &:focus {
        border: 1px solid #85858590;
        outline: none !important;
        box-shadow: 0 0 10px 2px variables.$color-blue;
      }
    }
  }
}