@use "../base/variables";
@use "../base/mixins";

.about__section {
  padding: 100px;
  height: 1600px;
  width: 80%;
  margin: auto;
  color: variables.$color-white;
  background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, #00ffff22);

  &__img {
    width: 250px;
    align-items: center;
  }

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__svg {
    fill: #ffffff;
    width: 200px;
  }

  & h1 {
    font-size: 38px;
    text-align: center;
    margin: 30px 0;
  }

  & p {
    font-size: 28px;
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    line-height: 50px;
  }

  &__div {
    font-size: 28px;
    width: 1000px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    line-height: 50px;
  }
}