@use "../base/variables";
@use "../base/mixins";

.telegram {
  width: 80px;
  height: 80px;
  padding: 1px 2px;
  border-radius: 50%;
  background-color: variables.$color-blue;
  position: fixed;
  right: 20px;
  bottom: 100px;

  @include mixins.mobile {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 100px;
  }

  &__svg {
    fill: variables.$color-black;

    &:hover {
      fill: variables.$color-light-gray;
    }
  }

}