@use "variables";

body {
  font-family: variables.$font-family-primary;
  font-size: variables.$font-size-default;
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}

* {
  box-sizing: border-box;
}