@use "variables";

body {
  font-family: variables.$font-family-primary;
  font-size: variables.$font-size-default;
  background-color: variables.$color-darken-gray;
}

* {
  box-sizing: border-box;
}
