/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Questrial", sans-serif;
  font-size: 16px;
  background: linear-gradient(109.6deg, rgba(0, 0, 0, 0.93) 11.2%, rgb(63, 61, 61) 78.9%);
}

* {
  box-sizing: border-box;
}

.header {
  padding: 5px 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 888;
  background: rgb(0, 0, 0);
  background: linear-gradient(166deg, rgb(0, 0, 0) 30%, rgb(0, 106, 106) 49%, rgb(0, 0, 0) 72%);
  border-radius: 0 0 10px 10px;
  border-bottom: 2px solid #00ffff;
}
.header__toggle, .header__check {
  display: none;
}
.header__menu__link {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
  margin-left: 50px;
}
.header__menu__link {
  background: linear-gradient(to right, rgba(100, 200, 200, 0), rgba(100, 200, 200, 0)), linear-gradient(to right, rgb(255, 0, 0), rgb(255, 0, 180), rgb(0, 100, 200));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
.header__menu__link--active {
  color: #00ffff;
}
.header__menu__link:hover {
  background-size: 0 3px, 100% 2px;
}
@media only screen and (max-width: 480px) {
  .header {
    padding: 5px 20px;
    flex-wrap: wrap;
  }
  .header__menu {
    display: block;
    position: fixed;
    top: 65px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #363536;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  .header__menu__link {
    margin: 25px 0;
    font-size: 24px;
  }
  .header__toggle {
    display: block;
    color: #ffffff;
  }
  .header__check {
    display: none;
  }
  .header__check:checked ~ .header__menu {
    transform: translateX(0);
  }
}
.header__logo {
  width: 70px;
}
@media only screen and (max-width: 480px) {
  .header__logo {
    width: 50px;
  }
}

.footer {
  background: rgb(0, 0, 0);
  background: linear-gradient(193deg, rgb(0, 0, 0) 30%, rgb(0, 106, 106) 49%, rgb(0, 0, 0) 72%);
  border-top: 2px solid #00ffff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  border-radius: 10px 10px 0 0;
}
@media only screen and (max-width: 480px) {
  .footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 200px;
    flex-direction: column;
  }
}
.footer__logo {
  width: 50px;
}
@media only screen and (max-width: 480px) {
  .footer__logo {
    width: 50px;
  }
}
.footer__copyright {
  color: white;
  margin-left: 150px;
}
@media only screen and (max-width: 480px) {
  .footer__copyright {
    margin: 0;
  }
}
.footer__sociais {
  width: 200;
  display: flex;
}
.footer__sociais__svg {
  fill: white;
  width: 30px;
  margin-left: 15px;
}
.footer__sociais__svg:hover {
  fill: #00ffff;
  cursor: pointer;
  transform: rotate(10deg);
  transition: transform 0.4s;
}

.banner {
  margin-top: 65px;
}
.banner__img {
  width: 100%;
  height: 850px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: grayscale(100%);
  border-radius: 0 0 50px 50px;
}
.banner__container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 300px;
  left: 10px;
}
.banner__text {
  color: #00ffff;
  font-size: 108px;
  font-weight: bolder;
  margin-left: 150px;
  text-shadow: 5px 2px rgba(128, 126, 129, 0.1333333333);
}
.banner__text--small {
  font-size: 32px;
  margin-left: 100px;
  color: #807E81;
}
@media only screen and (max-width: 480px) {
  .banner__img {
    -o-object-position: 69% 0%;
       object-position: 69% 0%;
    zoom: 40%;
  }
  .banner__container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 230px;
    left: 10px;
  }
  .banner__text {
    color: #00ffff;
    font-size: 32px;
    font-weight: bolder;
    margin-left: 20px;
    text-shadow: 2px 2px rgba(128, 126, 129, 0.1333333333);
  }
  .banner__text--small {
    font-size: 16px;
    margin-left: 0px;
    color: #807E81;
  }
}

.button__primary {
  width: 180px;
  height: 50px;
  border-color: #363536;
  background-color: #00ffff;
  color: #101010;
  font-size: 24px;
  border-radius: 10px;
  background-image: linear-gradient(45deg, #807E81 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 1000ms ease-in-out;
}
@media only screen and (max-width: 480px) {
  .button__primary {
    width: 125px;
    height: 30px;
    font-size: 16px;
  }
}
.button__primary:hover {
  background-position: 0;
  color: #363536;
  cursor: pointer;
}

.projects {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 100px 200px;
  border: 1px solid #101010;
  border-radius: 10px;
  background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgba(0, 255, 255, 0.1333333333));
  padding: 0 0 100px 0;
  padding-top: 33px;
}
@media only screen and (max-width: 480px) {
  .projects {
    width: 100%;
    margin: 0;
    margin-top: 70px;
    padding-top: 33px;
  }
}
.projects__title {
  font-size: 28px;
  color: #ffffff;
  margin: 40px 10px;
}
@media only screen and (max-width: 480px) {
  .projects__title {
    font-size: 22px;
    color: #ffffff;
    margin-top: 100px;
  }
}
.projects__img {
  width: 800px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: 1px solid #00ffff;
}
.projects__img--large {
  width: 80%;
}
@media only screen and (max-width: 480px) {
  .projects__img {
    width: 350px;
    margin-top: 10px;
  }
}
.projects__div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects__div span {
  font-size: 22px;
  color: #ffffff;
  width: 60%;
  margin-bottom: 20px;
}
@media only screen and (max-width: 480px) {
  .projects__div span {
    font-size: 16px;
    width: 80%;
  }
}

.contato {
  margin-top: 84px;
  height: 720px;
  background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgba(0, 255, 255, 0.1333333333));
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 200px 70px 200px;
  border-radius: 10px;
}
.contato__form__input {
  height: 50px;
  padding: 10px;
  border-radius: 10px;
  border-color: #00ffff;
  font-size: 18px;
}
.contato__form__input:focus {
  border: 1px solid rgba(133, 133, 133, 0.5647058824);
  outline: none !important;
  box-shadow: 0 0 10px 2px #00ffff;
}

.telegram {
  width: 80px;
  height: 80px;
  padding: 1px 2px;
  border-radius: 50%;
  background-color: #00ffff;
  position: fixed;
  right: 20px;
  bottom: 100px;
}
@media only screen and (max-width: 480px) {
  .telegram {
    width: 50px;
    height: 50px;
    position: fixed;
    right: 10px;
    bottom: 100px;
  }
}
.telegram__svg {
  fill: #101010;
}
.telegram__svg:hover {
  fill: #807E81;
}

.about {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 50px 200px;
  border: 1px solid #101010;
  border-radius: 10px;
  background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgba(0, 255, 255, 0.1333333333));
}
@media only screen and (max-width: 480px) {
  .about {
    margin: -80px 0;
  }
}
.about__div {
  width: 80%;
  margin: auto;
}
.about__me {
  margin: 100px 10px;
}
.about__me__title {
  color: #ffffff;
  font-size: 32px;
  margin-bottom: 20px;
}
.about__curso {
  margin: 100px 10px;
}
.about__curso__logo {
  width: 200px;
  margin-bottom: 20px;
}
.about__text {
  margin: 0 100px;
  margin-bottom: 50px;
  font-size: 24px;
  color: #ffffff;
}
@media only screen and (max-width: 480px) {
  .about__text {
    font-size: 16px;
    WIDTH: 90%;
    margin: auto;
    margin-bottom: 25px;
    line-height: 25px;
  }
}

.contato {
  height: 720px;
  background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgba(0, 255, 255, 0.1333333333));
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px 200px;
  border-radius: 10px;
}
@media only screen and (max-width: 480px) {
  .contato {
    width: 100%;
    margin: 70px 0 0 0;
  }
}
.contato__form {
  width: 80%;
}
.contato__form__title {
  color: #ffffff;
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.contato__form__title--large {
  font-size: 32px;
}
.contato__form__div {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
}
@media only screen and (max-width: 480px) {
  .contato__form__div {
    width: 100%;
  }
}
.contato__form textarea {
  height: 100px;
  padding: 10px;
  border-radius: 10px;
  border-color: #00ffff;
  margin-bottom: 30px;
  font-size: 18px;
}
.contato__form textarea:focus {
  border: 1px solid rgba(133, 133, 133, 0.5647058824);
  outline: none !important;
  box-shadow: 0 0 10px 2px #00ffff;
}

.about__section {
  padding: 100px;
  height: 1600px;
  width: 80%;
  margin: auto;
  color: #ffffff;
  background: linear-gradient(89.7deg, rgb(0, 0, 0) -10.7%, rgba(0, 255, 255, 0.1333333333));
  margin: 100px 200px;
  border-radius: 10px;
}
@media only screen and (max-width: 480px) {
  .about__section {
    width: 100%;
    padding: 30px;
    height: 1050px;
    margin: 0;
    margin-top: 20px;
  }
}
.about__section__img {
  width: 250px;
  align-items: center;
}
.about__section__logo {
  display: flex;
  justify-content: center;
}
.about__section__svg {
  fill: #ffffff;
  width: 200px;
}
.about__section h1, .about__section h2 {
  font-size: 38px;
  text-align: center;
  margin: 30px 0;
}
@media only screen and (max-width: 480px) {
  .about__section h1, .about__section h2 {
    font-size: 28px;
    line-height: 10px;
  }
}
.about__section p {
  font-size: 28px;
  width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  line-height: 50px;
}
@media only screen and (max-width: 480px) {
  .about__section p {
    margin-top: 50px;
    width: 100%;
    font-size: 16px;
    line-height: 30px;
  }
}
.about__section__div {
  font-size: 28px;
  width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  line-height: 50px;
}
@media only screen and (max-width: 480px) {
  .about__section__div {
    margin-top: 50px;
    width: 100%;
    font-size: 16px;
    line-height: 25px;
  }
}/*# sourceMappingURL=index.css.map */